<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Teatro XYZ</title>
    <!-- Enlaces a Bootstrap CSS y estilos personalizados -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@3.0.11/dist/vue.global.min.js"></script>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="">
            <img id="logo" src="./img/logo1.png" alt="Logo de mi página">
        </div>
        <ul class="nav-links">
            <li><a href="index.html">Inicio</a></li>
            <li><a href="funciones.html">Funciones</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>

    <!-- Portada -->
    <div>
        <section class="hero">
            <div class="container2">
                <h1 id="titulo-portfolio">La Sala Teatro</h1>
                <p>Te damos la bienvenida a disfrutar de un espacio diferente.</p>
            </div>
        </section>
    </div>

    <!-- Sección de historia del teatro -->
    <section class="presentacion">
        <div class="container24">
            <h2>¡Bienvenidos a LA SALA TEATRO!</h2>
            <p>
                LA SALA TEATRO es mucho más que un espacio escénico; es un rincón vibrante donde las artes escénicas cobran vida. Ubicada en el corazón de la ciudad, nuestra sala se erige como un santuario para la creatividad, la expresión y el encuentro cultural.
        
                Desde su inauguración, LA SALA TEATRO se ha comprometido a ser un faro de innovación y calidad en el mundo del teatro. Nuestra misión es proporcionar un escenario acogedor y versátil donde artistas de diversas disciplinas puedan compartir sus historias y visiones con el público. Ya sea a través de dramas conmovedores, comedias hilarantes, danzas cautivadoras o performances vanguardistas, cada actuación en LA SALA TEATRO es una experiencia única.
                
                Nos enorgullece ser un espacio inclusivo que celebra la diversidad en todas sus formas. Colaboramos con talentos locales e internacionales para ofrecer una programación ecléctica que refleje la riqueza de la expresión artística contemporánea.
                
                Con una infraestructura moderna y un equipo apasionado, LA SALA TEATRO se ha convertido en un punto de referencia para aquellos que buscan una experiencia teatral auténtica y enriquecedora. Aquí, la magia del teatro cobra vida, donde cada función es un viaje emocional que deja una impresión duradera en nuestros espectadores.
                
                Únete a nosotros en LA SALA TEATRO, donde la escena cobra vida y la creatividad se encuentra con la audiencia en una experiencia teatral única. 
            </p>
            <h2>¡Te invitamos a ser parte de nuestro vibrante mundo escénico! </h2>
        </div>
        <h2>Conocé un poco acerca mi pasión por la fotografía </h2>
    </section>

    <!-- Sección de carrusel con datos de la API -->
    <br>
    <br>
    <section class="container my-5" id="app">
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <!-- Muestra 3 tarjetas por cada iteración del bucle -->
                <div v-for="(evento, index) in eventos" :key="index" class="carousel-item" :class="{ 'active': index === 0 }">
                    <div class="d-flex justify-content-around">
                        <div v-for="(evento, subIndex) in eventos.slice(index, index + 3)" :key="subIndex" class="card" style="width: 18rem;">
                            <img :src="evento.download_url" class="card-img-top" :alt="'Evento ' + evento.id">
                            <div class="card-body">
                                <h5 class="card-title">{{ evento.author }}</h5>
                                <p class="card-text">{{ evento.width }} x {{ evento.height }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next " type="button " data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>
    </section>

    <br>
    <footer class="footer">
        <p>&copy; 2023 La Sala Teatro</p>
        <div>
            <a href="https://www.facebook.com/"><i class="bx bxl-facebook-circle"></i></a>
            <a href="https://www.instagram.com/"><i class="bx bxl-instagram"></i></a>
            <a href="https://twitter.com/?lang=es"><i class="bx bxl-twitter"></i></a>
        </div>
    </footer>

    <!-- Enlaces a Bootstrap JS y scripts personalizados -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.0.11/dist/vue.global.min.js"></script>
    <script src="/js/scripts.js"></script>
</body>
</html>

