<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Teatro XYZ</title>
  <link rel="stylesheet" href="card.css">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <header class="header">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-black" aria-label="Third navbar example">
      <div class="container-fluid">
        <div>
          <img id="logo" src="./img/logo1.png" alt="Logo de mi página">
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"
          aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
          <ul class="navbar-nav me-auto mb-2 mb-sm-0">
            <!-- Aquí puedes agregar más elementos a la barra de navegación si es necesario -->
          </ul>
          <ul class="nav">
            <li class="nav-item nav-links">
              <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
            </li>
            <li class="nav-item nav-links">
              <a class="nav-link active" aria-current="page" href="funciones.html">Funciones</a>
            </li>
            <li class="nav-item nav-links">
              <a class="nav-link active" aria-current="page" href="carrito.html">Carrito</a>
            </li>
            <li class="nav-item nav-links">
              <a class="nav-link active" aria-current="page" href="contacto.html">Contacto</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-light nav-links border border-danger rounded-2" href="#"
                data-bs-toggle="dropdown" aria-expanded="false"><strong>Sesion</strong></a>
              <ul class="dropdown-menu">
                <li id="loginLink"><a class="dropdown-item" href="/dash/login.html">Login</a></li>
                <!-- Puedes agregar más opciones de sesión si es necesario -->
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div id="app">
      <div v-if="loading" class="loader-overlay">
        <div class="loader">Cargando...</div>
      </div>

      <section class="gallery">
        <div class="boda">
          <div class="containera">
            <div class="row">
              <div class="col-md-4" v-for="funcion in funciones" :key="funcion.id">
                <div class="carda">
                  <img :src="funcion.imagen" :alt="funcion.titulo" class="card-img-top"
                    @click="showFunctionDetails(funcion)" />
                  <button @click="agregarAlCarrito(funcion)"
                    class="btn btn-outline-warning btn-comprar">COMPRAR</button>
                  <div class="intro">
                    <h1 class="card-title">{{ funcion.titulo }}</h1>
                    <p>{{ funcion.fecha }} - {{ funcion.hora }}</p>
                    <p>Grupo: {{ funcion.grupo.nombre }}</p>
                    <p>Productor: {{ funcion.productor.nombre }}</p>
                    <p>Precio: {{ funcion.precio }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>

  <footer class="footer">
    <div id="content-footer">
      <p>&copy; 2023 La Sala Teatro</p>
      <div>
        <a href="https://www.facebook.com/"><i class="bx bxl-facebook-circle"></i></a>
        <a href="https://www.instagram.com/"><i class="bx bxl-instagram"></i></a>
        <a href="https://twitter.com/?lang=es"><i class="bx bxl-twitter"></i></a>
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
  <script src="./js/funciones.js"></script>
  <script src="/js/carrito.js"></script>
  <script src="./js/dashitem.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</body>

</html>
